/* Default CSS Start */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}


/*Google Fonts  */

body {
    font-family: "Rubik", sans-serif;
}

.space-pd {
    padding: 60px 0;
}

h1.main-heading {
    font-size: 42px;
    text-transform: capitalize;
    line-height: 70px;
    margin: 0;
    font-weight: 700;
}

h2.title {
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
    color: #252930;
    line-height: 74px;
}

img {
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0;
}

@media screen and (max-width: 1400px) {
    h1.main-heading {
        font-size: 38px;
        line-height: normal;
    }

    h2.title {
        font-size: 36px;
        line-height: normal;
    }
}

/* Default CSS End */

/* Header and Footer */

/* ======== Header Section Start ========= */
/* Header initial style */

header {
    width: 100%;
    transition: all 0.8s ease;
    top: 0;
    position: fixed;
    margin: 0;
    z-index: 1000;
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    background: #fff;
}

header.scrolled {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header * {
    opacity: 1;
}


.mobile-menu-container {
    display: none;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-brand img {
    width: 100%;
    max-width: 260px;
    height: 100%;
}

ul.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

ul.nav li {
    padding: 10px;
}

ul.nav li a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: color 0.3s ease;
}

ul.nav li a:hover {
    color: #F97425;
}

ul.nav li a.on-active {
    color: #F97425;
}

.arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.menu-item-has-children>a:hover .arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-color: #F97425;
}


/* Sub-menu */
.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #f26226;
    border-radius: 10px;
    padding: 20px 15px;
    width: 180px;
    line-height: normal;
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

.sub-menu li {
    list-style: none;
    padding: 0 !important;
}

.sub-menu li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 0;
}

.sub-menu li a:hover {
    color: #F26226;
}

/* Mobile Menu */
.mobile-menu-container {
    display: none;
}

.hamburger-menu {
    cursor: pointer;
    transform: rotate(180deg);
}

.hamburger-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #F97425;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger-icon:nth-child(1) {
    width: 35px;
    height: 3px;
}

.hamburger-icon:nth-child(2) {
    width: 22px;
    height: 3px;
}

.hamburger-icon:nth-child(3) {
    width: 30px;
    height: 3px;
}

.hamburger-icon.is-active:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.is-active:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.is-active:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    text-align: left;
    padding: 0px;
    height: 100vh;
}

.mobile-menu.open {
    display: block;
}

.mobile-menu ul.nav li {
    padding: 10px;
    border-bottom: 1px solid #f26226;
    width: 100%;
    text-align: center;
}

ul.nav.mobile {
    display: block;
}

ul.nav.mobile li {
    padding: 10px 0;
}

.hamburger-btn:hover .hamburger-icon {
    cursor: pointer;
}

.get-in-touch {
    margin-bottom: 8px;
}

.get-in-touch a.menu-btn {
    padding: 5px 10px;
    text-decoration: none;
}

.get-in-touch a.menu-btn svg path {
    fill: #F26226;
    transition: fill 0.3s ease;
}



ul.nav img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/* Header End */

/* Footer Start */

.footer {
    background-color: rgb(245 245 245);
    border-top: 1px solid #F26226;
    border-bottom: 1px solid #F26226;
}

.copyright-footer {
    background-color: rgb(245 245 245);
}

.copyright a {
    text-decoration: none;
    color: #000;
}

.copyright a:hover {
    color: #FB5D14;
}

.footer .quick-links ul {
    list-style: none;
    padding: 0;
}

.footer .quick-links li {
    padding: 5px 0;
}

.footer .quick-links li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.quick-links li a svg {
    fill: #F26226;
    transition: fill 0.3s ease;
}

.quick-links li svg {
    fill: #F26226;
    transition: fill 0.3s ease;
}

.footer .quick-links li a:hover {
    color: #FB5D14;
}

.footer-logo a img {
    width: 250px;
    height: auto;
}

.footer-logo {
    padding-right: 40px;
}

.footer .quick-links li span {
    padding-left: 5px;
}

.top-heading h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.social-icons {
    padding: 0 20px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.social-links ul li a:hover {
    background-color: #F26226;
}

.social-links svg {
    fill: #F26226;
    transition: fill 0.3s ease;
}

.social-links ul li a:hover svg {
    fill: #fff;
}

.social-links {
    padding: 0 13px;
}


/* Footer End */




/* Home Page Start */
.main-container-box {
    display: flex;
    margin: 0 auto;
    position: relative;
    background: rgb(245, 245, 245);
}

.side-bar {
    position: sticky;
    top: 85px;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 10;
    transition: all 0.8s ease;
    border-right: 2px solid #F26226;
    padding: 40px 20px;
    overflow: auto;
    padding-top: 60px;
}

.left-side-container,
.right-side-container {
    border-radius: 8px;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-bottom: 30px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid rgb(237, 237, 237);
}

.title p {
    /* font-family: 'Rubik'; */
    font-family: BIOME, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    font-weight: 500;
}

.date {
    color: #9b9b9b;
    ;
}

.toggles {
    text-align: left;
    margin-top: 15px;
}

.toggles a {
    font-size: 16px;
    font-family: 'Rubik';
    border: none;
    background: transparent;
    padding: 13px 0;
    font-weight: 600;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
}

.toggles a:hover,
.toggles a.active {
    border-bottom: 2px solid #f26226;
}


.banner-contact {
    position: relative;
    color: #fff;
    padding: 40px 0;
    margin-top: 85px;
}

.banner-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/images/contact-blur-black-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.rendering-page h1,
.rendering-page h2,
.rendering-page h3,
.rendering-page h4,
.rendering-page h5 {
    color: #fff;
    font-family: "Rubik", sans-serif;
}

.clooned-container.live-load>.live-load__container-img>.live-load__container-img__gif {
    width: 150px;
    height: auto;
}

.main-container-box h5 {
    /* padding-top: 20px; */
    font-weight: 700;
}

.toggles img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



.left-side-container iframe,
.right-side-container iframe {
    width: 100%;
    /* height: 430px; */
    height: 70vh;
}

#wrapper {
    display: flex;
}

.toggles ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
}

ul li a {
    color: #000;
    text-decoration: none;
}

.model-container {
    width: 100%;
    background: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

model-viewer {
    width: 100%;
    height: 70vh;
    border-radius: 8px;
    outline: none;
}


/* Load More Button */
button.btn-load-more {
    width: 150px;
    height: auto;
    background: #F26226;
    border: 1px solid #F26226;
    color: #fff;
    padding: 10px 0;
    border-radius: 35px;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

button.btn-load-more:hover {
    background-color: #fff;
    border: 1px solid #F26226;
    color: #F26226;
}

/* .toggles ul li:nth-child(8) {
    display: none;
} */

.toggles ul li:nth-child(9) {
    display: none;
}

.toggles ul li:nth-child(10) {
    display: none;
}

.toggles ul li:nth-child(11) {
    display: none;
}

.toggles ul li:last-child {
    display: none;
}

